Service References/CashFlowIntegrationService/CashFlowIntegrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crm2013-4/Implementations/CashFlowIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CashflowIntegrationService" />
  <xs:element name="AddExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CashflowIntegrationService" minOccurs="0" name="expense" nillable="true" type="q1:Expense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>