Service References/CashFlowIntegrationService/CashflowIntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CashflowIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://crm2013-4/Implementations/CashFlowIntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://crm2013-4/Implementations/CashFlowIntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://crm2013-4/Implementations/CashFlowIntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CashflowIntegrationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICashFlowIntegrationService_AddExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExpense" />
  </wsdl:message>
  <wsdl:message name="ICashFlowIntegrationService_AddExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ICashFlowIntegrationService_GetExpenses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenses" />
  </wsdl:message>
  <wsdl:message name="ICashFlowIntegrationService_GetExpenses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesResponse" />
  </wsdl:message>
  <wsdl:portType name="ICashFlowIntegrationService">
    <wsdl:operation name="AddExpense">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashFlowIntegrationService/AddExpense" message="tns:ICashFlowIntegrationService_AddExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashFlowIntegrationService/AddExpenseResponse" message="tns:ICashFlowIntegrationService_AddExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICashFlowIntegrationService/GetExpenses" message="tns:ICashFlowIntegrationService_GetExpenses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICashFlowIntegrationService/GetExpensesResponse" message="tns:ICashFlowIntegrationService_GetExpenses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICashFlowIntegrationService" type="tns:ICashFlowIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddExpense">
      <soap:operation soapAction="http://tempuri.org/ICashFlowIntegrationService/AddExpense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpenses">
      <soap:operation soapAction="http://tempuri.org/ICashFlowIntegrationService/GetExpenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CashflowIntegrationService">
    <wsdl:port name="BasicHttpBinding_ICashFlowIntegrationService" binding="tns:BasicHttpBinding_ICashFlowIntegrationService">
      <soap:address location="http://crm2013-4/Implementations/CashFlowIntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>