Service References/CashFlowIntegrationService/CashFlowIntegrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CashflowIntegrationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CashflowIntegrationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Expense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
</xs:schema>